body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:98%;
    max-width: 960px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block {
    width: 45%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    margin: 10px;
}
.buttons button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    width: calc(100% / 2 - 8px);
    transition: all 0.3s ease;
  }
.buttons button:active{
    transform: scale(0.97);
  }
  .buttons .refresh-word{
    background: #022919;
  }
  .buttons .refresh-word:hover{
    background: #000000;
  }
  .buttons .check-word{
    background: #ba2d0b;
  }
  .buttons .check-word:hover{
    background: #7e0b0b;
  }
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
        max-width: 450px;
    }

    .block {
        width: 100%;
    }
}

.footer-text {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}